.objectif-section {
  padding: 10rem 0;
  background: #7abbc8;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  
}
.logo {
  //border: white 2px solid ;
  background: grey;
  max-width: 20%;
  height: auto;
}

.text-logo {
  color: white;
  
}

.logo-ligne1 {
  display: inline-block;
  padding-top: 5%
}